html {
  height: 100%;
}
body {
  background: linear-gradient(180deg, #ffffff 0%, #c4bfbf 99.99%, #979797 100%);
}

.screen {
  background: red;
}
.flex-container {
  display: flex;
  flex-direction: column;
}

button {
  background: #c4bfbf;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23),
    inset 2px 15px 27px rgba(255, 255, 255, 0.96),
    inset 7px -21px 36px rgba(0, 0, 0, 0.5);
  border-radius: 500px;
  border: none;
}
